In [6]:
import pandas as pd

# CSV
df_csv = pd.read_csv("data/bank.csv")
print(df_csv.head())

    Loan_ID Gender Married     Education Self_Employed  ApplicantIncome  \
0  LP001002   Male      No      Graduate            No             5849
1  LP001003   Male     Yes      Graduate            No             4583
2  LP001005   Male     Yes      Graduate           Yes             3000
3  LP001006   Male     Yes  Not Graduate            No             2583
4  LP001008   Male      No      Graduate            No             6000

   CoapplicantIncome  LoanAmount Property_Area Loan_Status
0                0.0         NaN         Urban           Y
1             1508.0       128.0         Rural           N
2                0.0        66.0         Urban           Y
3             2358.0       120.0         Urban           Y
4                0.0       141.0         Urban           Y

In [3]:
df_csv.to_csv("data/bank.csv", index=False)

In [11]:
import seaborn as sns

# Load Titanic dataset
titanic = sns.load_dataset("titanic")

# Inspect dataset
print(titanic.head())
print(titanic.info())

# Indexing & slicing
print(titanic.iloc[0:5, 0:3])     # first 5 rows, first 3 columns
print(titanic.loc[0:5, ["sex", "age", "class"]])  # specific columns

# Filtering
adults = titanic[titanic["age"] >= 18]
print(adults.head())

# Simple operation: survival rate by sex
print(titanic.groupby("sex")["survived"].mean())

# Save subset to CSV
# titanic.head(100).to_csv("titanic_sample.csv", index=False)

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None
   survived  pclass     sex
0         0       3    male
1         1       1  female
2         1       3  female
3         1       1  female
4         0       3    male
      sex   age  class
0    male  22.0  Third
1  female  38.0  First
2  female  26.0  Third
3  female  35.0  First
4    male  35.0  Third
5    male   NaN  Third
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
sex
female    0.742038
male      0.188908
Name: survived, dtype: float64