In [2]:
import seaborn as sns
import pandas as pd

# Load Titanic dataset
titanic = sns.load_dataset("titanic")

# Passengers older than 30
older_than_30 = titanic[titanic["age"] > 30]
print(older_than_30.head())

# Female passengers only
females = titanic[titanic["sex"] == "female"]
print(females.head())

# Females older than 30
females_30 = titanic[(titanic["sex"] == "female") & (titanic["age"] > 30)]
print(females_30.head())
# save to csv

    survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
1          1       1  female  38.0      1      0  71.2833        C  First
3          1       1  female  35.0      1      0  53.1000        S  First
4          0       3    male  35.0      0      0   8.0500        S  Third
6          0       1    male  54.0      0      0  51.8625        S  First
11         1       1  female  58.0      0      0  26.5500        S  First

      who  adult_male deck  embark_town alive  alone
1   woman       False    C    Cherbourg   yes  False
3   woman       False    C  Southampton   yes  False
4     man        True  NaN  Southampton    no   True
6     man        True    E  Southampton    no   True
11  woman       False    C  Southampton   yes   True
   survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
1         1       1  female  38.0      1      0  71.2833        C   First
2         1       3  female  26.0      0      0   7.9250        S   Third
3         1       1  female  35.0      1      0  53.1000        S   First
8         1       3  female  27.0      0      2  11.1333        S   Third
9         1       2  female  14.0      1      0  30.0708        C  Second

     who  adult_male deck  embark_town alive  alone
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
8  woman       False  NaN  Southampton   yes  False
9  child       False  NaN    Cherbourg   yes  False
    survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
1          1       1  female  38.0      1      0  71.2833        C   First
3          1       1  female  35.0      1      0  53.1000        S   First
11         1       1  female  58.0      0      0  26.5500        S   First
15         1       2  female  55.0      0      0  16.0000        S  Second
18         0       3  female  31.0      1      0  18.0000        S   Third

      who  adult_male deck  embark_town alive  alone
1   woman       False    C    Cherbourg   yes  False
3   woman       False    C  Southampton   yes  False
11  woman       False    C  Southampton   yes   True
15  woman       False  NaN  Southampton   yes   True
18  woman       False  NaN  Southampton    no  False

In [3]:
# Average age by sex
avg_age = titanic.groupby("sex")["age"]
print(avg_age)

# Survival rate by sex
survival_rate = titanic.groupby("sex")["survived"].mean()
print(survival_rate)

# Survival rate by class
class_survival = titanic.groupby("pclass")["survived"].mean()
print(class_survival)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x700b76708410>
sex
female    0.742038
male      0.188908
Name: survived, dtype: float64
pclass
1    0.629630
2    0.472826
3    0.242363
Name: survived, dtype: float64

In [4]:
# Example mini datasets
df1 = pd.DataFrame({"id": [1, 2, 3], "name": ["Alice", "Bob", "Charlie"]})
df2 = pd.DataFrame({"id": [1, 2, 4], "city": ["Nairobi", "Mombasa", "Kisumu"]})

# Merge on "id"
merged = pd.merge(df1, df2, on="id", how="inner")
print(merged)

# Left join
left_join = pd.merge(df1, df2, on="id", how="left")
print(left_join)

   id   name     city
0   1  Alice  Nairobi
1   2    Bob  Mombasa
   id     name     city
0   1    Alice  Nairobi
1   2      Bob  Mombasa
2   3  Charlie      NaN

In [5]:
# Survival by class and sex
pivot = pd.pivot_table(titanic, values="survived", index="class", columns="sex", aggfunc="mean")
print(pivot)

sex       female      male
class
First   0.968085  0.368852
Second  0.921053  0.157407
Third   0.500000  0.135447