In [ ]:
import seaborn as sns
import pandas as pd

# Load Titanic dataset
titanic = sns.load_dataset("titanic")

# Check missing values
print(titanic.isnull().sum())

print(titanic.shape)
# save 
# titanic.to_csv("titanic.csv", index=False)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
(891, 15)

In [2]:
# Drop rows with missing values
titanic_drop = titanic.dropna()
print("After drop:", titanic_drop.shape)

After drop: (182, 15)

In [15]:

# Fill missing age with mean
titanic_fill = titanic.copy()
titanic_fill["age"] = titanic_fill["age"].fillna(titanic["age"].mean())

# Fill missing embarked with most common value
titanic_fill["embarked"] = titanic_fill["embarked"].fillna(titanic["embarked"].mode()[0])
print(titanic_fill.shape)
# Check missing values

(891, 15)

In [9]:
# option 1 drop the columns 
titanic_fill = titanic_fill.drop(columns=["deck"])

In [11]:
# option 2 fill with a place holder 
# titanic_fill["deck"] = titanic_fill["deck"].fillna("Unknown")

In [13]:
# fill embark_town with most common value
titanic_fill["embark_town"] = titanic_fill["embark_town"].fillna(
    titanic_fill["embark_town"].mode()[0]
)

In [16]:

# check missing columns again
print(titanic_fill.isnull().sum())

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         0
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [30]:
import pandas as pd

# Introduce a duplicate row (for demo)
# titanic_dup = pd.concat([titanic, titanic.iloc[[0]]], ignore_index=True)

# Check duplicates
print(titanic_fill.duplicated().sum())
# Drop duplicates
titanic_clean = titanic_fill.drop_duplicates()
print("After removing duplicates:", titanic_clean.shape)

107
After removing duplicates: (784, 15)

In [29]:
# Check data types
print(titanic_clean.dtypes)

# Convert 'age' to integer (after filling NaNs)
titanic_clean["age"] = titanic_clean["age"].fillna(titanic_clean["age"].mean()).astype(int)

# Convert 'survived' to boolean
titanic_clean["survived"] = titanic_clean["survived"].astype(bool)

print(titanic_clean[["age", "survived"]].head())

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

/tmp/ipykernel_16770/4074471597.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic_clean["age"] = titanic_clean["age"].fillna(titanic_clean["age"].mean()).astype(int)
/tmp/ipykernel_16770/4074471597.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic_clean["survived"] = titanic_clean["survived"].astype(bool)

   age  survived
0   22     False
1   38      True
2   26      True
3   35      True
4   35     False